h2 {
  text-align: center;
  font-size: 35px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

input {
  height: 30px;
  border: none;
  background: #fff;
  border-radius: 5px;
  font-size: 12px;
}
