.Container-app {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.Container-createT {
  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 3em;
  border-radius: 15px;
  box-shadow: 0px 8px 20px 6px rgba(196, 196, 196, 0.9);
}

.Container-tasks {
  width: 25vw;
  padding: 3em;
}
.Container-tasks h1 {
  margin: 20px 0;
  font-size: 50px;
  background: rgb(2, 0, 36);
  /* background: linear-gradient(
    90deg,
    rgba(310, 114, 80, 1) 31%,
    rgba(2, 0, 36, 1) 66%
  ); */
  color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  font-family: "Lobster", sans-serif;
}
