.Container-app {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.Container-createT {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 3em;
  border-radius: 15px;
  box-shadow: 6px 6px 8px 3px rgba(196, 196, 196, 0.9);
  -webkit-box-shadow: 6px 6px 8px 3px rgba(196, 196, 196, 0.9);
  -moz-box-shadow: 6px 6px 8px 3px rgba(196, 196, 196, 0.9);
}

.Container-tasks h1 {
  margin: 20px 0;
  font-size: 50px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 114, 80, 1) 24%
  );
  color: transparent;
  -webkit-background-clip: text;
}
