.TodoItem {
  display: flex;
  align-items: center;
  margin: 8px 0;
  background-color: #effbfa;
  border-radius: 8px;
  word-break: break-all;
  width: 70%;
}
@media (max-width: 768px) {
  .TodoItem {
    margin: 6px 0;
    width: 90%;
  }

  .TodoItem-p {
    font-size: 16px;
  }
}
.Complete {
  opacity: 0.5;
  display: flex;
}

.TodoItem-p {
  font-family: cursive;
  font-size: 16px;
  font-weight: 400;
  width: calc(100% - 120px);
  line-height: 24px;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 20px;
  width: 50px;
  font-weight: bold;
  font-size: 24px;
}

.Icon-check--active {
  color: rgb(7, 200, 30);
}

.Icon-check:hover {
  color: rgb(7, 200, 30);
}

.Icon-delete:hover {
  color: rgb(215, 43, 43);
}
