form {
  width: 80%;
  max-width: 400px;
  height: 250px;
  background: #fffcf8c9;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #1e1e1f;
  margin-bottom: 25px;
  font-family: "Lemon", serif;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 80px;
}

.TodoForm-button {
  padding: 12px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-family: "Concert One", sans-serif;
  color: #fff;
  border-radius: 12px;
  border: none;
  background: #202329;
  width: 50%;
}
.TodoForm-button:hover {
  background-color: #fff;
  color: #202329;
}

textarea {
  background-color: #f9fbfc;
  border: 2px solid #202329;
  border-radius: 2px;
  box-shadow: 0 5px 50px rgba(32, 35, 41, 0.25);
  color: #1e1e1f;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 96px;
  width: calc(100% - 25px);
  font-family: "Concert One", sans-serif;
}
textarea::placeholder {
  color: #a5a5a5;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
}
textarea:focus {
  outline-color: #508787;
}
